/* Main Container */
.contact-page-container {
  padding: 20px;
  background-color: #000; /* Black background for the main page */
  color: #f0f0f0; /* Light text color for contrast */
}

/* Section Headings */
.section-heading {
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 20px;
}

/* Card Group Styling */
.card-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Individual Info Card */
.info-card {
  background-color: #000; /* Black background for cards */
  color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2); /* White shadow for visibility */
  padding: 20px;
  margin: 10px;
  width: 250px;
  text-align: center;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3); /* Shadow on hover */
}

/* Card Image */
.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.85;
  margin-bottom: 10px;
}

/* Card Icon */
.card-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: #4dabf7; /* Blue for better contrast */
}

/* Card Title and Description */
.card-title {
  margin-top: 10px;
  font-size: 1.2em;
}

.card-description {
  margin-top: 10px;
}

/* Toggle Button */
.toggle-button {
  background-color: #4dabf7;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: #1e90ff;
}

/* Contact Form Container */
.contact-form-container {
  margin-top: 40px;
  text-align: center;
  background-color: #000; /* Black background for the contact form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 24px rgba(255, 255, 255, 0.2); /* Add box shadow */
  transition: box-shadow 0.3s;
}

.contact-form-container:hover {
  box-shadow: 0 8px 36px rgba(255, 255, 255, 0.3); /* Shadow on hover */
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  color: #f0f0f0;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #4dabf7;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  background-color: #333;
  color: #f0f0f0;
}

textarea {
  resize: none;
}

/* Submit Button */
.submit-button {
  background-color: #4dabf7;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #1e90ff;
}

/* Map Container */
.map-container {
  margin-top: 40px;
  text-align: center;
}
